
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<a href="/Admin/Users" class="btn btn-primary p-2">Kullanıcı İşlemleri</a>
<a href="/Products/Index" class="btn btn-primary p-2">Ürün İşlemleri</a>
